[submodule "inc/textile"]
	path = inc/textile
	url = git://github.com/netcarver/textile.git
[submodule "inc/markdown"]
	path = inc/markdown
	url = http://git.michelf.com/php-markdown
[submodule "inc/smartypants"]
	path = inc/smartypants
	url = https://github.com/michelf/php-smartypants.git
[submodule "inc/smartypantstypographer"]
	path = inc/smartypantstypographer
	url = https://github.com/michelf/php-smartypants.git
[submodule "inc/markdownextra"]
	path = inc/markdownextra
	url = https://github.com/michelf/php-markdown.git
